@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-dark: #005793;
    --color-primary-light: #0070bb;

    /* Dark theme colors */
    --color-screen-bg-dark: "#0b1829";
    --color-element-bg-dark: "#17284d";
    --color-text-dark-primary: "#8baedd";
    --color-highlight: "#e8b74b";
  }
}
